# options de configuration par defaut (lu au demarrage)

# nom du programme
[mysqld]
user = root
#datadir = /var/lib/mysql
port = 3306
#log-bin = /var/lib/mysql/mysql-bin
# par defaut, le serveur mysql accepte les connexions uniquement en local, ce n'est pas ce que nous voulons :
# on autorise les connexions a partir de n'importe quel host
bind-address = 0.0.0.0
# on autorise les connexions distantes dans notre cas
